dockerImage:
  repository: ghcr.io/[GITHUB_REPOSITORY]/[SERVICE_NAME]
  tag: latest
  pullPolicy: Always

replicaCount: 1

resources:
  limits:
    cpu: 500m
    memory: 512Mi
  requests:
    cpu: 100m
    memory: 150Mi
